In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
app_columns_df = application_df.drop(['EIN', 'NAME'], axis=1)
app_columns_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Generate a categorical variable list
application_cat = app_columns_df.dtypes[app_columns_df.dtypes == "object"].index.tolist()

# Determine the number of unique values in each column.
app_columns_df[application_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
type_counts = app_columns_df.APPLICATION_TYPE.value_counts()
type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Determine which values to replace if counts are less than ...?
replace_application= list(type_counts[type_counts < 500].index)

# Replace in dataframe
for app in replace_application:
    app_columns_df.APPLICATION_TYPE = app_columns_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
app_columns_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_counts = app_columns_df.CLASSIFICATION.value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

## Optimization 1
Adjust classification binning

In [17]:
# Determine which values to replace if counts are less than ..?
replace_class = list(class_counts[class_counts < 2000].index)

# Replace in dataframe
for cls in replace_class:
    app_columns_df.CLASSIFICATION = app_columns_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
app_columns_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: CLASSIFICATION, dtype: int64

In [18]:
# Generate our categorical variable lists
new_application_cat = app_columns_df.dtypes[app_columns_df.dtypes == "object"].index.tolist()
new_application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [19]:
# Verify the number of unique values in each column.
app_columns_df[new_application_cat].nunique()

APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            4
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [20]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(app_columns_df[new_application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(new_application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [21]:
# Merge one-hot encoded features and drop the originals

app_columns_df = app_columns_df.merge(encode_df,left_index=True, right_index=True)
app_columns_df = app_columns_df.drop(new_application_cat,1)
app_columns_df.head()

C:\Users\Savannah McIntyre\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [22]:
# Split our preprocessed data into our features and target arrays
y = app_columns_df["IS_SUCCESSFUL"].values
X = app_columns_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\Savannah McIntyre\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Optimization 2 and 3
Add a third hidden layer; increase nodes in each layer

In [30]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 8
hidden_nodes_layer3 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 10)                420

 dense_7 (Dense)             (None, 8)                 88

 dense_8 (Dense)             (None, 5)                 45

 dense_9 (Dense)             (None, 1)                 6

=================================================================
Total params: 559
Trainable params: 559
Non-trainable params: 0
_________________________________________________________________

In [31]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [32]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

# Create a callback that saves the model's weights every epoch
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq='epoch',
    period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [33]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 1s 685us/step - loss: 0.6268 - accuracy: 0.6661
Epoch 2/100
804/804 [==============================] - 1s 684us/step - loss: 0.5725 - accuracy: 0.7175
Epoch 3/100
804/804 [==============================] - 1s 694us/step - loss: 0.5648 - accuracy: 0.7205
Epoch 4/100
804/804 [==============================] - 1s 679us/step - loss: 0.5619 - accuracy: 0.7240
Epoch 5/100
731/804 [==========================>...] - ETA: 0s - loss: 0.5597 - accuracy: 0.7272
Epoch 5: saving model to checkpoints\weights.05.hdf5
804/804 [==============================] - 1s 729us/step - loss: 0.5602 - accuracy: 0.7264
Epoch 6/100
804/804 [==============================] - 1s 699us/step - loss: 0.5588 - accuracy: 0.7255
Epoch 7/100
804/804 [==============================] - 1s 681us/step - loss: 0.5578 - accuracy: 0.7258
Epoch 8/100
804/804 [==============================] - 1s 685us/step - loss: 0.5570 - accuracy: 0.7269
Epoch 9/100
804/804 [==============================] - 1s 681us/step - loss: 0.5565 - accuracy: 0.7292
Epoch 10/100
742/804 [==========================>...] - ETA: 0s - loss: 0.5549 - accuracy: 0.7295
Epoch 10: saving model to checkpoints\weights.10.hdf5
804/804 [==============================] - 1s 697us/step - loss: 0.5553 - accuracy: 0.7296
Epoch 11/100
804/804 [==============================] - 1s 686us/step - loss: 0.5551 - accuracy: 0.7305
Epoch 12/100
804/804 [==============================] - 1s 689us/step - loss: 0.5543 - accuracy: 0.7313
Epoch 13/100
804/804 [==============================] - 1s 679us/step - loss: 0.5542 - accuracy: 0.7303
Epoch 14/100
804/804 [==============================] - 1s 682us/step - loss: 0.5539 - accuracy: 0.7305
Epoch 15/100
740/804 [==========================>...] - ETA: 0s - loss: 0.5529 - accuracy: 0.7321
Epoch 15: saving model to checkpoints\weights.15.hdf5
804/804 [==============================] - 1s 731us/step - loss: 0.5541 - accuracy: 0.7310
Epoch 16/100
804/804 [==============================] - 1s 698us/step - loss: 0.5535 - accuracy: 0.7317
Epoch 17/100
804/804 [==============================] - 1s 709us/step - loss: 0.5530 - accuracy: 0.7317
Epoch 18/100
804/804 [==============================] - 1s 686us/step - loss: 0.5530 - accuracy: 0.7318
Epoch 19/100
804/804 [==============================] - 1s 687us/step - loss: 0.5529 - accuracy: 0.7320
Epoch 20/100
743/804 [==========================>...] - ETA: 0s - loss: 0.5530 - accuracy: 0.7323
Epoch 20: saving model to checkpoints\weights.20.hdf5
804/804 [==============================] - 1s 697us/step - loss: 0.5525 - accuracy: 0.7326
Epoch 21/100
804/804 [==============================] - 1s 696us/step - loss: 0.5526 - accuracy: 0.7316
Epoch 22/100
804/804 [==============================] - 1s 695us/step - loss: 0.5524 - accuracy: 0.7325
Epoch 23/100
804/804 [==============================] - 1s 688us/step - loss: 0.5519 - accuracy: 0.7328
Epoch 24/100
804/804 [==============================] - 1s 688us/step - loss: 0.5526 - accuracy: 0.7317
Epoch 25/100
744/804 [==========================>...] - ETA: 0s - loss: 0.5519 - accuracy: 0.7333
Epoch 25: saving model to checkpoints\weights.25.hdf5
804/804 [==============================] - 1s 715us/step - loss: 0.5521 - accuracy: 0.7327
Epoch 26/100
804/804 [==============================] - 1s 684us/step - loss: 0.5523 - accuracy: 0.7318
Epoch 27/100
804/804 [==============================] - 1s 683us/step - loss: 0.5515 - accuracy: 0.7334
Epoch 28/100
804/804 [==============================] - 1s 683us/step - loss: 0.5518 - accuracy: 0.7325
Epoch 29/100
804/804 [==============================] - 1s 683us/step - loss: 0.5515 - accuracy: 0.7331
Epoch 30/100
745/804 [==========================>...] - ETA: 0s - loss: 0.5510 - accuracy: 0.7329
Epoch 30: saving model to checkpoints\weights.30.hdf5
804/804 [==============================] - 1s 715us/step - loss: 0.5518 - accuracy: 0.7325
Epoch 31/100
804/804 [==============================] - 1s 683us/step - loss: 0.5511 - accuracy: 0.7325
Epoch 32/100
804/804 [==============================] - 1s 687us/step - loss: 0.5514 - accuracy: 0.7325
Epoch 33/100
804/804 [==============================] - 1s 683us/step - loss: 0.5514 - accuracy: 0.7322
Epoch 34/100
804/804 [==============================] - 1s 711us/step - loss: 0.5509 - accuracy: 0.7330
Epoch 35/100
740/804 [==========================>...] - ETA: 0s - loss: 0.5518 - accuracy: 0.7320
Epoch 35: saving model to checkpoints\weights.35.hdf5
804/804 [==============================] - 1s 725us/step - loss: 0.5510 - accuracy: 0.7330
Epoch 36/100
804/804 [==============================] - 1s 688us/step - loss: 0.5512 - accuracy: 0.7326
Epoch 37/100
804/804 [==============================] - 1s 686us/step - loss: 0.5509 - accuracy: 0.7331
Epoch 38/100
804/804 [==============================] - 1s 696us/step - loss: 0.5507 - accuracy: 0.7333
Epoch 39/100
804/804 [==============================] - 1s 682us/step - loss: 0.5506 - accuracy: 0.7333
Epoch 40/100
735/804 [==========================>...] - ETA: 0s - loss: 0.5507 - accuracy: 0.7332
Epoch 40: saving model to checkpoints\weights.40.hdf5
804/804 [==============================] - 1s 719us/step - loss: 0.5505 - accuracy: 0.7330
Epoch 41/100
804/804 [==============================] - 1s 698us/step - loss: 0.5508 - accuracy: 0.7323
Epoch 42/100
804/804 [==============================] - 1s 688us/step - loss: 0.5505 - accuracy: 0.7335
Epoch 43/100
804/804 [==============================] - 1s 684us/step - loss: 0.5505 - accuracy: 0.7338
Epoch 44/100
804/804 [==============================] - 1s 684us/step - loss: 0.5503 - accuracy: 0.7333
Epoch 45/100
739/804 [==========================>...] - ETA: 0s - loss: 0.5501 - accuracy: 0.7335
Epoch 45: saving model to checkpoints\weights.45.hdf5
804/804 [==============================] - 1s 717us/step - loss: 0.5502 - accuracy: 0.7333
Epoch 46/100
804/804 [==============================] - 1s 717us/step - loss: 0.5504 - accuracy: 0.7332
Epoch 47/100
804/804 [==============================] - 1s 685us/step - loss: 0.5500 - accuracy: 0.7329
Epoch 48/100
804/804 [==============================] - 1s 687us/step - loss: 0.5506 - accuracy: 0.7331
Epoch 49/100
804/804 [==============================] - 1s 680us/step - loss: 0.5502 - accuracy: 0.7331
Epoch 50/100
738/804 [==========================>...] - ETA: 0s - loss: 0.5482 - accuracy: 0.7347
Epoch 50: saving model to checkpoints\weights.50.hdf5
804/804 [==============================] - 1s 721us/step - loss: 0.5500 - accuracy: 0.7339
Epoch 51/100
804/804 [==============================] - 1s 688us/step - loss: 0.5497 - accuracy: 0.7341
Epoch 52/100
804/804 [==============================] - 1s 685us/step - loss: 0.5499 - accuracy: 0.7329
Epoch 53/100
804/804 [==============================] - 1s 684us/step - loss: 0.5498 - accuracy: 0.7342
Epoch 54/100
804/804 [==============================] - 1s 685us/step - loss: 0.5500 - accuracy: 0.7338
Epoch 55/100
740/804 [==========================>...] - ETA: 0s - loss: 0.5499 - accuracy: 0.7330
Epoch 55: saving model to checkpoints\weights.55.hdf5
804/804 [==============================] - 1s 711us/step - loss: 0.5498 - accuracy: 0.7333
Epoch 56/100
804/804 [==============================] - 1s 706us/step - loss: 0.5496 - accuracy: 0.7342
Epoch 57/100
804/804 [==============================] - 1s 692us/step - loss: 0.5498 - accuracy: 0.7346
Epoch 58/100
804/804 [==============================] - 1s 684us/step - loss: 0.5496 - accuracy: 0.7343
Epoch 59/100
804/804 [==============================] - 1s 719us/step - loss: 0.5496 - accuracy: 0.7345
Epoch 60/100
741/804 [==========================>...] - ETA: 0s - loss: 0.5484 - accuracy: 0.7336
Epoch 60: saving model to checkpoints\weights.60.hdf5
804/804 [==============================] - 1s 708us/step - loss: 0.5496 - accuracy: 0.7332
Epoch 61/100
804/804 [==============================] - 1s 689us/step - loss: 0.5495 - accuracy: 0.7332
Epoch 62/100
804/804 [==============================] - 1s 684us/step - loss: 0.5495 - accuracy: 0.7344
Epoch 63/100

804/804 [==============================] - 1s 680us/step - loss: 0.5495 - accuracy: 0.7349
Epoch 64/100
804/804 [==============================] - 1s 680us/step - loss: 0.5491 - accuracy: 0.7339
Epoch 65/100
748/804 [==========================>...] - ETA: 0s - loss: 0.5499 - accuracy: 0.7340
Epoch 65: saving model to checkpoints\weights.65.hdf5
804/804 [==============================] - 1s 719us/step - loss: 0.5491 - accuracy: 0.7346
Epoch 66/100
804/804 [==============================] - 1s 687us/step - loss: 0.5494 - accuracy: 0.7338
Epoch 67/100
804/804 [==============================] - 1s 678us/step - loss: 0.5494 - accuracy: 0.7341
Epoch 68/100
804/804 [==============================] - 1s 686us/step - loss: 0.5492 - accuracy: 0.7344
Epoch 69/100
804/804 [==============================] - 1s 681us/step - loss: 0.5490 - accuracy: 0.7345
Epoch 70/100
746/804 [==========================>...] - ETA: 0s - loss: 0.5496 - accuracy: 0.7335
Epoch 70: saving model to checkpoints\weights.70.hdf5
804/804 [==============================] - 1s 715us/step - loss: 0.5491 - accuracy: 0.7342
Epoch 71/100
804/804 [==============================] - 1s 717us/step - loss: 0.5488 - accuracy: 0.7338
Epoch 72/100
804/804 [==============================] - 1s 680us/step - loss: 0.5490 - accuracy: 0.7335
Epoch 73/100
804/804 [==============================] - 1s 680us/step - loss: 0.5492 - accuracy: 0.7338
Epoch 74/100
804/804 [==============================] - 1s 693us/step - loss: 0.5490 - accuracy: 0.7342
Epoch 75/100
742/804 [==========================>...] - ETA: 0s - loss: 0.5481 - accuracy: 0.7358
Epoch 75: saving model to checkpoints\weights.75.hdf5
804/804 [==============================] - 1s 733us/step - loss: 0.5489 - accuracy: 0.7350
Epoch 76/100
804/804 [==============================] - 1s 695us/step - loss: 0.5490 - accuracy: 0.7336
Epoch 77/100
804/804 [==============================] - 1s 687us/step - loss: 0.5492 - accuracy: 0.7343
Epoch 78/100
804/804 [==============================] - 1s 686us/step - loss: 0.5492 - accuracy: 0.7343
Epoch 79/100
804/804 [==============================] - 1s 687us/step - loss: 0.5486 - accuracy: 0.7345
Epoch 80/100
802/804 [============================>.] - ETA: 0s - loss: 0.5487 - accuracy: 0.7348
Epoch 80: saving model to checkpoints\weights.80.hdf5
804/804 [==============================] - 1s 724us/step - loss: 0.5488 - accuracy: 0.7346
Epoch 81/100
804/804 [==============================] - 1s 686us/step - loss: 0.5487 - accuracy: 0.7350
Epoch 82/100
804/804 [==============================] - 1s 688us/step - loss: 0.5483 - accuracy: 0.7343
Epoch 83/100
804/804 [==============================] - 1s 683us/step - loss: 0.5482 - accuracy: 0.7344
Epoch 84/100
804/804 [==============================] - 1s 684us/step - loss: 0.5489 - accuracy: 0.7333
Epoch 85/100
745/804 [==========================>...] - ETA: 0s - loss: 0.5488 - accuracy: 0.7334
Epoch 85: saving model to checkpoints\weights.85.hdf5
804/804 [==============================] - 1s 709us/step - loss: 0.5486 - accuracy: 0.7339
Epoch 86/100
804/804 [==============================] - 1s 690us/step - loss: 0.5484 - accuracy: 0.7345
Epoch 87/100
804/804 [==============================] - 1s 683us/step - loss: 0.5486 - accuracy: 0.7340
Epoch 88/100
804/804 [==============================] - 1s 685us/step - loss: 0.5483 - accuracy: 0.7347
Epoch 89/100
804/804 [==============================] - 1s 685us/step - loss: 0.5486 - accuracy: 0.7341
Epoch 90/100
793/804 [============================>.] - ETA: 0s - loss: 0.5487 - accuracy: 0.7346
Epoch 90: saving model to checkpoints\weights.90.hdf5
804/804 [==============================] - 1s 736us/step - loss: 0.5484 - accuracy: 0.7351
Epoch 91/100
804/804 [==============================] - 1s 723us/step - loss: 0.5484 - accuracy: 0.7351
Epoch 92/100
804/804 [==============================] - 1s 726us/step - loss: 0.5486 - accuracy: 0.7350
Epoch 93/100
804/804 [==============================] - 1s 701us/step - loss: 0.5480 - accuracy: 0.7346
Epoch 94/100
804/804 [==============================] - 1s 697us/step - loss: 0.5486 - accuracy: 0.7348
Epoch 95/100
784/804 [============================>.] - ETA: 0s - loss: 0.5483 - accuracy: 0.7342
Epoch 95: saving model to checkpoints\weights.95.hdf5
804/804 [==============================] - 1s 757us/step - loss: 0.5480 - accuracy: 0.7344
Epoch 96/100
804/804 [==============================] - 1s 694us/step - loss: 0.5483 - accuracy: 0.7341
Epoch 97/100
804/804 [==============================] - 1s 689us/step - loss: 0.5481 - accuracy: 0.7352
Epoch 98/100
804/804 [==============================] - 1s 692us/step - loss: 0.5480 - accuracy: 0.7343
Epoch 99/100
804/804 [==============================] - 1s 681us/step - loss: 0.5481 - accuracy: 0.7345
Epoch 100/100
734/804 [==========================>...] - ETA: 0s - loss: 0.5472 - accuracy: 0.7348
Epoch 100: saving model to checkpoints\weights.100.hdf5
804/804 [==============================] - 1s 720us/step - loss: 0.5479 - accuracy: 0.7342

In [35]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5580 - accuracy: 0.7236 - 142ms/epoch - 530us/step
Loss: 0.5579869747161865, Accuracy: 0.7236151695251465

In [36]:
nn.save("Optimized_AlphabetSoupCharity.h5")